@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<MC.Data.Entities.Movie>

@{ ViewBag.Title = "Index"; }

<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@if (User.Identity.IsAuthenticated)
{
<hr />
    using (Html.BeginForm())
    {
        <div class="col-md-12">
            <div class="col-md-2">
                @Html.TextBox("searchTitle", (string)ViewBag.TitleSearch, htmlAttributes: new { @class = "col-md-2 form-control" })
            </div>
            <div class="col-md-2">
                @Html.DropDownList("searchGenreId", (IEnumerable<SelectListItem>)ViewBag.Genres, "---", htmlAttributes: new { @class = "col-md-2 form-control" })
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>Search</button>
            </div>
        </div>
         <div class="col-md-2" style="height: 20px;"></div>
    }
}
    <table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParam, searchTitle = ViewBag.TitleSearch })
        </th>
        <th>
            @Html.ActionLink("Release Date", "Index", new { sortOrder = ViewBag.ReleaseDateSortParam, searchTitle = ViewBag.TitleSearch })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Writer.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Writer.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span>|</span>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, searchTitle = ViewBag.TitleSearch, sortOrder = ViewBag.SortOrder }))
